using UnityEngine;
using System.Collections;

namespace KData
{

	public class ConfigLoaderAutoGen
	{

		public static IEnumerator LoadAllData()
		{
			//yield return DesignTemplateRoleInfoConfigPool.LoadData("file://" + Application.streamingAssetsPath + "/Configs/DesignTemplateRoleInfo.json");
			
			//CONFIG_POOL_STATEMENT//
			
			yield return 1;
		}
	}

}
